{% extends "email.html" %}

{% block content_title %}
Reset Your Media Cloud Password
{% endblock %}

{% block content_body %}
<p style="text-align: left;line-height: 30px;color: #373737;">
Hi {{ full_name }},
</p>
<p style="text-align: left;line-height: 30px;color: #373737;">
We received a request to reset your Media Cloud password.
<a href="{{ password_reset_url }}">Click this link to reset your password</a>.
</p>
<p style="text-align: left;line-height: 30px;color: #373737;">
If you didn't make this request, please let us know at <a href="mailto:support@mediacloud.org">support@mediacloud.org</a>.
</p>
{% endblock %}

{% block action_text %}
Reset Your Password
{% endblock %}

{% block action_url %}
{{ password_reset_url }}
{% endblock %}
